* {
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.nav__logo {
    margin: 13px;
    width: 150px;
    object-fit: contain;
}
header nav {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    position:relative;
    top: 0;
    padding: 9px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
li{
    display: inline-block;
    border: red;
    border: 2px solid red;
    border-radius: 30px;
    margin: 15px;
    padding: 9px;
    color: white;
    transition: transform 500ms;
}
li:hover{
    transform: scale(1.08);
}
.poster{
    margin-right: 10px;
    padding: 10px;
    margin-left: 150,px;
    display: flex;
    padding: 9px;
    
    border-radius: 50px;
}
.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 180px;
    color: aliceblue;
    margin-left: 15px;
}